* {
  all: unset; //Unsets everything so you can style everything from scratch
}

.statusbar-box {
    background-color: #5a5a5a;
    padding-left: 1em;
    padding-right: 1em;
}

.leftside-container {
    border-color: #ff0000;
    border-width: 1px;
    border-style: dashed;
}

.workspaces-widget {
    font-family: SauceCodePro;
    font-size: 2em;
}

.center-container {
    border-color: #ff0000;
    border-width: 1px;
    border-style: dashed;
}

.rightside-container {
//    border-color: #ff0000;
//    border-width: 1px;
//    border-style: dashed;
}

.layout-widget {
//    border-color: #000000;
//    border-width: 1px;
//    border-style: solid;
}

.layout-title {
    font-family: IBM Plex Sans;
    font-size: 1.2em;
}

.battery-icon {
    font-family: SauceCodePro;
    font-size: 2em;
//    border-color: #000000;
//    border-width: 1px;
//    border-style: solid;
}

.datetime-widget {
    font-family: IBM Plex Sans;
    font-size: 1em;
//    border-color: #000000;
//    border-width: 1px;
//    border-style: solid;    
}

.network-icon {
    font-family: SauceCodePro;
    font-size: 1.7em;
//    border-color: #000000;
//    border-width: 1px;
//    border-style: solid;
}

.network-name {
    font-family: IBM Plex Sans;
    font-size: 1em;
}
